.result-item{
    display: flex;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
}

.result-item span{
    margin-left: 10px;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
    font-style: italic;
    color: #fff;
    background-color: #f44336aa;
}