#mobile-calltoaction{
    text-align: center;
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    background-color:#f49c35;
    transform: translateY(0%);
    transition: all .2s;
}
#mobile-calltoaction small{
    color:white;
}
#mobile-calltoaction.hide{
    transform: translateY(100%);
}
#btn-like{
    border: none;
    background-color: transparent;
}
#btn-like svg{
    fill: #fff;
    width:32px;
}
#btn-like.like svg{
    fill: #f44336;
}

@media screen and (min-width: 960px) {
    #mobile-calltoaction{ display: none; }
}